<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head.ejs %>
    <link rel="stylesheet" href="../css/style.css">
    <title>Forget Password</title>
</head>
<body>
    <div class = "container">
        <div class="banner-title">
            <img src="img/parrot-m.svg" alt="logo">
            <h1>Parrot Chat </h1>
        </div>
        <div class= "forgetpassword">
            <div class = "header text-left"><h4>Find your password</h4></div>
            <div class = "pass-reset-step">
                <p>Please Follow the simple steps to reset your password.</p>
                <ol>
                    <li>Please enter your email address</li>
                    <li>Check the email and click password_reset link</li>
                    <li>Enter your new password in a new window and click confirm button</li>
                </ol>   
            </div>
            <div class="tips">
                <% if (locals.success_msg.length > 0) { %>
                    <div class="alert alert-success middle">
                        <%= success_msg %>
                    </div>
                    <% } %>
                        <% if (locals.error_msg.length > 0) { %>
                            <div class="alert alert-danger middle">
                                <%= error_msg %>
                            </div>
                            <% } %>
                                <% if (locals.error.length > 0) { %>
                                    <div class="alert alert-danger middle">
                                        <%= error %>
                                    </div>
                                    <% } %>
            </div>
            <div class = "requestmail">
                <form autocomplete = "off" action = "/user/request_password" method = "post" >
                    <div class = "form-group email-form">
                        <input type="email" id="email" name="email" class="form-control" aria-describedby="emailHelp" placeholder="Please input your email address" >
                    </div>
                    <div class = "form-group">
                        <button type="submit" class = "btn btn-primary btn-block">Send</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <% include partials/js.ejs %>
</body>
</html>