<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head.ejs %>
    <link rel="stylesheet" href="../css/style.css">
    <title>Manual Verify Your Email</title>
</head>
<body>
    <div class = "container">
        <div class="banner-title">
            <img src="img/parrot-m.svg" alt="logo">
            <h1>Parrot Chat </h1>
        </div>
        <div class = "send">
            <h3>We are very sorry that we cannot redirect this web page to your mailbox, please log in your mailbox 
            and check the email manually</h3>
        </div>
    
    </div>
    
    <% include partials/js.ejs %>
</body>
</html>