<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head.ejs %>
    <link rel="stylesheet" href="../css/style.css">
    <title>Send Message</title>
</head>
<body>
    <div class = "container">
        <div class="banner-title">
            <img src="img/parrot-m.svg" alt="logo">
            <h1>Parrot Chat </h1>
        </div>
        <div class = "send">
            <form action = "/user/verifymail" method = "post">
                <div class = "form-group"><span>Dear <%= user.username %>,</span><br> We have send an email to the following email address <span><%= user.email %></span> , please
                check your email and follow the steps to reset your password</div>
                
                <div class = "form-group email">
                    <input type="hidden" name="email" value="<%= user.email %>">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">Get your email</button>
                </div>
                
            </form>
        </div>
    </div>
<% include partials/js.ejs %>
</body>
</html>